body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(33, 44, 58);
}

.container {
    padding: 2rem;
    width: 100%;
}

.container .card {
    margin-right: 1.3rem;
    padding-bottom: .5rem;
}

.main-logo {
    width: 50px;
    height:50px;
}

.card {
    background-color: rgb(48, 58, 69) ;
    border-radius:0;
    height:310px;
    width: 12rem;
    margin-bottom: 1rem;
}
.card-body {
    padding:.2rem;
}
.card-body h5{
    padding:.3rem;
    
}
h5{
    color:white;
    text-transform: uppercase;
    line-height:1.2rem;
    font-weight:bold;
    font-size: 1rem;
}
p {
    line-height:.1rem;
    font-size:.7rem;
    color:darkgray;
}